@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1d1d1d;
  color: #fff;
}

.swiper-slide {
  width: fit-content !important;
}
.swiper {
  position: unset !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #374151;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

#swiper {
  width: 100%;
}

#swiper_slide {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0!important;
}
#swiper_slide img {
  object-fit: contain !important;
  height: 100%;
}